/* --- TIPOGRAFIAS --- */
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Homemade+Apple&display=swap");
/* --- IMPORT --- */
/* --- VARIABLES --- */
/* --- ADAPTACION A OTRAS PANTALLAS --- */
/* Pantallas con un ancho maximo de 426 px */
@media only screen and (max-width: 426px) {
  /* --- GENERAL --- */
  header {
    padding-top: 3vh; }
  .h3, h3 {
    font-size: calc(0.8rem + .6vw); }
  /* --- PAGINAS DE CONTENIDO --- */
  .contentBox .pageHeader {
    background-position: -200px 0px; }
  /* --- HOME --- */
  .presentacion-section {
    margin: 0px 20px 0px 20px; }
  .principal-section {
    margin: 0px 0px; }
    .principal-section .image-principal {
      width: 100%;
      left: -50vw; }
  /* --- ABOUT --- */
  /* --- PORTFOLIO --- */
  .contentBox .content-image-grid {
    display: block; }
  /* --- CONTACTO --- */
  .contentBox .form-section {
    display: grid;
    margin: 20px 30px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: stretch; } }

/* --- ADAPTACION A OTRAS PANTALLAS --- */

/* Pantallas con un ancho minimo de 1024 px (pantallas grandes) */
@media only screen and (min-width: 1024px) {
  .imagenes {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 imágenes por fila */
    gap: 20px; /* Espaciado entre las imágenes */
  }
  .imagenes img {
    width: 100%; /* Las imágenes ocupan el 100% del espacio de su contenedor */
    height: auto; /* Mantener la relación de aspecto */
    max-height: 400px; /* Limitar la altura máxima para evitar que se deformen */
    object-fit: cover; /* Asegura que las imágenes cubran todo el espacio sin deformarse */
  }
}

/* Para pantallas más pequeñas (como teléfonos) */
@media only screen and (max-width: 1023px) {
  .imagenes {
    display: grid;
    grid-template-columns: 1fr; /* 1 imagen por fila */
    gap: 10px; /* Menor espacio entre las imágenes */
  }
  .imagenes img {
    width: 100%; /* Las imágenes ocupan el 100% del espacio de su contenedor */
    height: auto; /* Mantener la relación de aspecto */
    max-height: 300px; /* Limitar la altura máxima de las imágenes en dispositivos móviles */
    object-fit: cover; /* Asegura que las imágenes cubran todo el espacio sin deformarse */
  }
}

  /* --- IMPORT --- */
  /* --- ANIMACIONES --- */
  .text-grayscale {
    background-color: #cececeb5;
    transition: background-color 3s; }
  .principal-section:hover ~ .text-grayscale {
    color: white;
    background-color: #022e60; }
  .img-grayscale {
    filter: grayscale(1); }
  .img-grayscale_transform {
    transition: filter 2s; }
  .img-grayscale_transform:hover {
    filter: grayscale(0); }
  /* --- GENERAL --- */
  header {
    padding-top: 3vh; }
  main {
    margin-top: 2vh; }
  .h3, h3 {
    font-size: calc(0.9rem + .6vw); }
  /* --- PAGINAS DE CONTENIDO --- */
  .contentBox .pageHeader {
    background-position: -145px 0px; }
  /* --- HOME --- */
  .presentacion-section {
    margin: -50px 10vh 10vh 10vh; }
  .principal-section .image-principal {
    width: 100%; }
  .text-grayscale {
    background-color: #cececeb5; }
  /* --- ABOUT --- */
  /* --- PORTFOLIO --- */
  .contentBox .content-image-grid {
    grid-template-columns: calc((75vw + 12px)/2) calc((75vw + 12px)/2);
    grid-template-rows: auto; }
    .contentBox .content-image-grid .div1 {
      grid-area: 1 / 1 / 2 / 2; }
    .contentBox .content-image-grid .div2 {
      grid-area: 1 / 2 / 2 / 3; }
    .contentBox .content-image-grid .div3 {
      grid-area: 2 / 1 / 2 / 3; }
    .contentBox .content-image-grid .div4 {
      grid-area: 4 / 1 / 4 / 3; }
    .contentBox .content-image-grid .div9 {
      grid-area: 5 / 1 / 5 / 3; }
    .contentBox .content-image-grid .div5, .contentBox .content-image-grid .div6, .contentBox .content-image-grid .div7, .contentBox .content-image-grid .div8 {
      display: none; } }

/* --- ADAPTACION A OTRAS PANTALLAS --- */
/* Pantallas con un ancho minimo de 1024 px */
@media only screen and (min-width: 1024px) {
  /* --- IMPORT --- */
  /* --- ANIMACIONES --- */
  .text-grayscale {
    background-color: #cececeb5;
    transition: background-color 3s; }
  .principal-section:hover ~ .text-grayscale {
    color: white;
    background-color: #022e60; }
  .img-grayscale {
    filter: grayscale(1); }
  .img-grayscale_transform {
    transition: filter 2s; }
  .img-grayscale_transform:hover {
    filter: grayscale(0); }
  /* --- GENERAL --- */
  header {
    padding-top: 5vh; }
  main {
    margin-top: 2vh; }
  .h3, h3 {
    font-size: 1.25rem; }
  /* Menu */
  body .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center; }
  /* --- PAGINAS DE CONTENIDO ---*/
  .contentBox .pageHeader {
    background-position: 0px 0px; }
  /* --- HOME --- */
  .presentacion-section {
    margin: -80px 20vh 10vh 20vh; }
  .principal-section .image-principal {
    width: 85vw; }
  .text-grayscale {
    background-color: #cececeb5; }
  /* --- ABOUT --- */
  /* --- PORTFOLIO ---- */
  .contentBox .content-image-grid {
    grid-template-columns: 25vw 25vw 25vw; }
    .contentBox .content-image-grid .div1 {
      grid-area: 1 / 1 / 3 / 3; }
    .contentBox .content-image-grid .div2 {
      grid-column: 3;
      grid-row: 1/2; }
    .contentBox .content-image-grid .div3 {
      grid-area: 2 / 3 / 3 / 3; }
    .contentBox .content-image-grid .div4 {
      grid-column: 2/4;
      grid-row: 4/6; }
    .contentBox .content-image-grid .div5 {
      grid-column: 1/1;
      grid-row: 4/4; }
    .contentBox .content-image-grid .div6 {
      grid-column: 1;
      grid-row: 5/6; }
    .contentBox .content-image-grid .div7 {
      grid-area: 3 / 2 / 3 / 1; }
    .contentBox .content-image-grid .div8 {
      grid-area: 3 / 2 / 3 / 3; }
    .contentBox .content-image-grid .div9 {
      grid-area: 3 / 3 / 3 / 3; }
  /*CONTACTO*/
  .contentBox .form-section {
    display: grid;
    padding: 3vh; } }

/* --- ESTILO --- */
body {
  width: 100%;
  min-height: 100vh;
  margin: 0px; }

p {
  margin: 0px; }

label {
  color: #022e60;
  font-weight: 700; }

.centrado {
  text-align: center; }

.justificado {
  text-align: justify; }

.relative-position {
  position: relative; }

.shadow {
  box-shadow: 10px 10px 20px 0px rgba(224, 224, 224, 0.77);
  -webkit-box-shadow: 10px 10px 20px 0px rgba(224, 224, 224, 0.77);
  -moz-box-shadow: 10px 10px 20px 0px rgba(224, 224, 224, 0.77); }

.section-division {
  color: #54b4bf;
  border: solid; }

/*Textos*/
.tituloWeb, .tituloWeb_big {
  font-family: "Calibri", cursive; }

.tituloWeb_big {
  font-size: 64px; }

/*Imagenes*/
.image-class, .image-class_normal, .image-class_big, .image-class_hiper, .image-class_opacity-up {
  width: 100%; }

.image-class_normal {
  max-width: 500px; }

.image-class_big {
  max-width: 1000px; }

.image-class_hiper {
  max-width: 2000px; }

.image-class_opacity-up {
  opacity: 0.85; }

/*Botones*/
.btn {
  border-radius: 0px; }

.btn-principal {
  color: white;
  background-color: #022e60;
  border-color: #022e60; }
  .btn-principal:hover {
    color: white;
    background-color: #4D72A5;
    border-color: #4D72A5; }

.btn-secundario {
  color: #022e60;
  background-color: #F5E253;
  border-color: #F5E253; }
  .btn-secundario:hover {
    background-color: #FFF0AD;
    border-color: #FFF0AD; }

/*LEYENDAS*/
.text-cita, .text-cita_big, .text-cita_hiper {
  font-family: "Gochi Hand", cursive;
  z-index: 1; }

.text-cita_big {
  font-size: 22px;
  padding: 20px 5px 10px 5px; }

.text-cita_hiper {
  font-size: 34px; }

.text-author, .text-author_big {
  font-family: "Homemade Apple", cursive;
  z-index: 2; }

.text-author_big {
  font-size: 22px;
  padding: 15px 0px 10px 0px; }

/*MENU*/
.navbar-light:hover .navbar-nav:hover .nav-link:hover {
  color: white;
  background-color: black; }

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: #ffffffcc !important;
  position: sticky;
  top: 0px;
  z-index: 100; }

/*PIE DE PAGINA*/
.footer-section {
  color: white;
  background-color: black;
  margin: 50px 0px 0px 0px;
  padding: 25px; }
  .footer-section .social-media {
    text-align: center;
    padding-bottom: 5px; }
    .footer-section .social-media .social-media-icon {
      width: 18px;
      height: 18px; }
  .footer-section .footText {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    text-justify: inter-word; }

/*PAGINAS DE CONTENIDO*/
.contentBox {
  width: calc(75vw + 24px);
  margin: auto;
  /*DIRECCION DE PAGINA*/
  /* --- PORTFOLIO ---- */
  /* --- CONTACTO --- */ }
  .contentBox .pageHeader {
    height: 300px;
    margin: auto auto 12px auto;
    font-size: 30px;
    text-align: center;
    background-image: url(https://github.com/ErikaZimmer/photographyPage/blob/main/img/portfolio/Italia-Roma-006.webp?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box; }
    .contentBox .pageHeader .breadcrumb {
      background: rgba(0, 0, 0, 0.36);
      /* Old Browsers */
      background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.36) 0%, rgba(36, 36, 36, 0.36) 0%, rgba(255, 255, 255, 0.22) 38%, rgba(255, 255, 255, 0) 100%);
      /* FF3.6+ */
      background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0, 0, 0, 0.36)), color-stop(0%, rgba(36, 36, 36, 0.36)), color-stop(38%, rgba(255, 255, 255, 0.22)), color-stop(100%, rgba(255, 255, 255, 0)));
      /* Chrome, Safari4+ */
      background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.36) 0%, rgba(36, 36, 36, 0.36) 0%, rgba(255, 255, 255, 0.22) 38%, rgba(255, 255, 255, 0) 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.36) 0%, rgba(36, 36, 36, 0.36) 0%, rgba(255, 255, 255, 0.22) 38%, rgba(255, 255, 255, 0) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(45deg, rgba(0, 0, 0, 0.36) 0%, rgba(36, 36, 36, 0.36) 0%, rgba(255, 255, 255, 0.22) 38%, rgba(255, 255, 255, 0) 100%);
      /* IE 10+ */
      background: linear-gradient(45deg, rgba(0, 0, 0, 0.36) 0%, rgba(36, 36, 36, 0.36) 0%, rgba(255, 255, 255, 0.22) 38%, rgba(255, 255, 255, 0) 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 1rem;
      list-style: none;
      align-content: flex-end;
      align-items: flex-end;
      flex-direction: row;
      justify-content: flex-start;
      height: 100%; }
      .contentBox .pageHeader .breadcrumb .breadcrumb-item.active {
        color: white; }
      .contentBox .pageHeader .breadcrumb .bottom-left-margin {
        margin: 0px 0px 20px 20px; }
  .contentBox .content-image-grid {
    display: grid;
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-rows: auto;
    grid-gap: 12px; }
  .contentBox .modal .modal-dialog .modal-content .modal-header {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 1rem;
      border-bottom: 1px solid #dee2e6;
      border-top-left-radius: calc(0.3rem - 1px);
      border-top-right-radius: calc(0.3rem - 1px);
      flex-direction: column;
      border-bottom: 1px solid $colorAntagonico;
    }
    border-bottom: 1px solid #92E3E8; }
  .contentBox .modal .modal-dialog .modal-content .modal-footer {
    border-top: 1px solid #92E3E8; }
  .contentBox form-section div .resize-none {
    resize: none; }
  .contentBox form-section div .form-control {
    border: 2px solid #54b4bf; }

/* --- HOME --- */
.principal-section {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0px 6vw;
  overflow: hidden; }











  .tituloWeb {
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 48px; /* Ajusta el tamaño según sea necesario */
    color: #333; /* Color oscuro para buen contraste */
    text-align: center; /* Centrado si lo necesitas */
}




/* Estilo para el pie de página */
.footer-section {
  background-color: #000000; /* Fondo claro */
  padding: 20px;
  text-align: center; /* Centrado de los elementos */
}

.footText {
  font-family: 'Dancing Script', cursive; /* Aplica la fuente cursiva */
  font-weight: 400; /* Peso normal para mayor legibilidad */
  font-size: 18px; /* Ajusta el tamaño según sea necesario */
  color: #797979; /* Color oscuro para buen contraste */
  margin: 10px 0; /* Espaciado alrededor del texto */
}

/* Estilo para los íconos de redes sociales */
.social-media {
  margin-top: 10px;
}

.social-media-icon {
  width: 40px; /* Tamaño del ícono */
  height: 40px;
  margin: 0 10px; /* Espaciado entre los íconos */
  transition: transform 0.3s ease; /* Efecto de transición en hover */
}

.social-media-icon:hover {
  transform: scale(1.1); /* Aumenta el tamaño del ícono cuando pasa el mouse */
}









/* Efecto 3D al pasar el mouse sobre las imágenes */
.img-grayscale_transform {
 
  cursor: pointer; /* Muestra un puntero al pasar sobre la imagen */
}

.img-grayscale_transform:hover {
  transform: translateY(-10px) scale(1.03); /* Desplaza hacia arriba y aumenta ligeramente el tamaño */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Sombra para dar un efecto de profundidad */
}









/* Asegura que la imagen en el modal se vea bien */
#modalImage {
  width: 100%; /* La imagen ocupará el 100% del ancho del modal */
  height: auto; /* Mantiene la proporción original de la imagen */
  max-width: 80%; /* Limita el tamaño máximo para que no se estire demasiado */
  display: block;
  margin: 0 auto; /* Centra la imagen dentro del modal */
}










/* Estilo para los botones */
.btn-whatsapp, .btn-instagram {
  display: inline-flex; /* Cambiar a flexbox para mejor alineación */
  justify-content: center; /* Alinea horizontalmente */
  align-items: center; /* Alinea verticalmente */
  width: 80px; /* Aumentamos el tamaño del botón */
  height: 80px; /* Aumentamos el tamaño del botón */
  border-radius: 50%;
  font-size: 36px; /* Aumentamos el tamaño del ícono */
  color: #fff; /* Íconos en blanco */
  background-color: #ffffff; /* Fondo blanco inicialmente */
  text-align: center;
  transition: all 0.5s ease; /* Transición más lenta y fluida */
  border: 2px solid transparent; /* Borde transparente por defecto */
  cursor: pointer; /* Cambiar cursor para indicar que es clickeable */
  position: relative;
}

/* Estilo para el botón de WhatsApp */
.btn-whatsapp {
  background-color: #ffffff; /* Fondo blanco */
  border-color: #25d366; /* Borde verde WhatsApp */
}

/* Estilo para el botón de Instagram */
.btn-instagram {
  background-color: #ffffff; /* Fondo blanco */
  border-color: #f58529; /* Borde color Instagram (naranja) */
}

/* Efecto hover para los botones */
.btn-whatsapp:hover, .btn-instagram:hover {
  background-color: #fff; /* Fondo blanco */
  color: #fff; /* Íconos en blanco */
  border-color: #fff; /* Mantener borde blanco al pasar el mouse */
}

/* Efecto de giro vertical (como una moneda) */
.btn-whatsapp:hover, .btn-instagram:hover {
  transform: rotateY(360deg); /* Giro completo sobre el eje Y */
}

/* Ajuste de colores de fondo al pasar el mouse */
.btn-whatsapp:hover {
  background-color: #25d366; /* Fondo verde WhatsApp */
  border-color: #25d366; /* Borde verde WhatsApp */
}

/* Efecto de relleno fluido con gradiente */
.btn-instagram:hover {
  background: linear-gradient(45deg, #D6249F, #F58529); /* Gradiente de Instagram */
  border-color: #F58529; /* Borde naranja de Instagram */
}


/* Efecto de relleno fluido */
.btn-whatsapp,
.btn-instagram {
  background-size: 200%; /* Aumentamos el tamaño del fondo para que se rellene con suavidad */
}

.btn-whatsapp:hover,
.btn-instagram:hover {
  background-position: right center; /* Hacer que el relleno ocurra de manera fluida */
}

/* Ajuste para los íconos */
.fab {
  vertical-align: middle; /* Aseguramos que el ícono esté centrado */
}









/*MOVIMIENTO Y ESTILKO DE REDES SOCIALES*/
.btn{
  display: hidden;
  background-color: transparent;
}
.btn-circle{
  display: hidden;
  background-color: transparent;
}
#contenidoRedes{
  /*
  margin-top: 50px;
  margin-left :auto;
  margin-right:auto;
  width: 100%;

  border-color: white;
  border-top-style: dashed;
  border-right-style: double;
  border-bottom-style: dotted;
  border-left-style: solid;
  */
  margin-top: 45px;
  margin-bottom: 45px;
  color: #f8f1e5;
  background-color:#2f3131;
}
#redesSociales{
  background-size: auto; 
  text-align: center; 
 /*
  border-color: white;
  border-top-style: dashed;
  border-right-style: double;
  border-bottom-style: dotted;
  border-left-style: solid;
  */
}
#redesSociales ul { 
  margin-right: 40px;
  display: contents;
  background-size: auto; 
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  
  #redesSociales ul li {
    text-align: center;
  }
#redesSociales ul li a {
    width: 80px;
    height:  80px;
    background-color:  #f8f1e5;
    text-align: center;
    line-height:  80px;
    font-size: 35px;
    margin: 0 10px;
    border-radius: 50%;
    position: relative;
    display: block;
    overflow: hidden;
    border: 3px solid  #f8f1e5;
    z-index: 1;
}
#redesSociales ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}
#redesSociales ul li a:hover .icon {
    color:  #f8f1e5;
    transform: rotateY(360deg);
}
#redesSociales ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}
#redesSociales  ul li a:hover:before {
    top: 0;
}
#redesSociales ul li:nth-child(1) a:before{
    background: #3b5999;
}
#redesSociales ul li:nth-child(2) a:before{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
#redesSociales ul li:nth-child(3) a:before {
    background: #25D366;
}
#redesSociales  ul li:nth-child(4) a:before {
    background: #25D366;
}


/*CSS DE SECCION DE PROGRAMACION*/
#lenguajesConocidos{
  padding: 25px;
  margin: 5px 45px 25px 45px;
  overflow: hidden;
  margin-bottom: 45px;

}
#lenguajesConocidos h3 {
    margin-bottom: 15px;
}
#lenguajesConocidos p{
  font-size: 18px;
  text-align: justify;
  font-weight: normal;
}
#lenguajesConocidos table{
  width: 67%;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid #2f3131;
}
#lenguajesConocidos table tr th {
  background-color: #426e86;
  color:#f8f1e5 ;
  text-align: center;
  font-size: 22px;
}
#lenguajesConocidos table tr:hover{
  background-color:#f9ba32;
  color:#2f3131 ;
  border: 4px solid #426e86;
  font-weight: bold;
}
#lenguajesConocidos table tr td { 
  text-align: center;
}
#lenguajesConocidos table tr #nombre { 
  font-size: 18px;
}
#lenguajesConocidos table tr #porcentaje { 
  font-size: 20px;
}












/* Footer */
footer {
  color: white;
  padding: 0px 0;  /* Reducimos el padding de arriba y abajo */
  position: relative;
  background-color: #333;  /* Fondo oscuro */
  overflow: hidden;  /* Asegura que la ola no sobresalga */
}

/* Animación de la ola */
.footer-bottom-wave {
  width: 100%;
  height: 60px;  /* Aumentamos la altura de la ola para hacerla más sutil */
  background: #124466; /* Color blanco para la ola */
  border-radius: 100% 100% 0 0; /* Hacemos que la ola sea redondeada */
  position: absolute;
  bottom: -30px;  /* Mueve la ola hacia abajo */
  left: 0;
  animation: wave 5s infinite ease-in-out; /* Animación fluida y suave */
}

/* Animación de la ola */
@keyframes wave {
  0% {
    transform: translateY(0); /* Empieza en la posición original */
  }
  50% {
    transform: translateY(-8px); /* Mueve hacia arriba de manera más sutil */
  }
  100% {
    transform: translateY(0); /* Regresa a la posición original */
  }
}




/* Estilo de la sección de horario */
.footer-section h3 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Arial', sans-serif;
}

/* Contenedor de horarios */
.horario-container {
  text-align: center;  /* Centra los horarios */
  font-size: 14px;
  line-height: 1.6;  /* Da más espacio entre las líneas para una mejor lectura */
  font-family: 'Arial', sans-serif;
}

/* Estilo para los párrafos de horarios */
.horario-container p {
  margin: 5px 0; /* Añadimos margen entre los horarios */
  color: #fff; /* Aseguramos que el texto sea blanco */
  font-weight: normal;
}



.footer-section h3 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(45deg, #6a0dad, #32CD32, #006400); /* Gradiente verde y morado metálico */
  -webkit-background-clip: text; /* Aplica el gradiente solo al texto */
  color: transparent; /* Hace el color de texto transparente para que se vea el gradiente */
  font-weight: bold; /* Resalta el texto */
  font-style: italic; /* Aplica el estilo cursivo */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), 0 0 25px rgba(0, 0, 255, 0.5), 0 0 5px rgba(0, 0, 255, 0.5); /* Efecto de brillo metálico */
}






/* Efecto de brillo negro en los bordes al pasar el mouse */
.img-grayscale:hover {
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 1); /* Brillo negro más intenso pero más pequeño */
}



.img-grayscale_transform:hover {
  opacity: 1; /* La imagen se vuelve completamente visible cuando pasa el mouse */
}


/* Espacio entre las imágenes */
.img-grayscale {
  margin: 20px; /* Ajusta el valor para el espacio entre las imágenes */
}
























